---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem harum
        amet veniam! Animi dolores deleniti autem consequatur ipsa.
        Necessitatibus eos itaque commodi consequatur id fugiat voluptas!
        Praesentium ducimus rerum nobis non quis quaerat magni, eos asperiores
        earum modi consectetur provident, a dolore! Ducimus, soluta explicabo
        officia architecto dolorum sed fugit eaque maxime officiis, non rem
        mollitia reiciendis voluptatum doloremque sint tempore ipsum optio in
        minima pariatur. Officiis, temporibus tenetur impedit facere doloribus,
        ab iure, aliquid voluptatum ratione obcaecati voluptatibus? Itaque
        labore libero numquam accusamus facilis ipsum quaerat quos minus ad
        commodi consequatur eius voluptate placeat dolores nulla, sunt hic
        totam!
    </p>
</Layout>
